<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="/auth/logout">Logout</a></li>
			<li><a href="/auth/login">Login</a></li>
			<li><a href="/">Homepage</a></li>
			<li><a href="/profile">profile</a></li>
		</ul>
	</nav>

	<a href="/auth/google">google</a>
</body>
</html>